
.bg-info {
    background-color: #606C38 !important; /* Light green for secondary backgrounds */
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
    color: #283618;            /* Dark green for brand name & nav links for visibility */
}

.btn-info {
    color: #f2fbf2;            /* Lightest shade for text on info button for contrast */
    background-color: #606C38; /* Light green for button background */
    border-color: #005a00;     /* Dark green for button border */
}

.btn-primary {
    color: #FEFAE0;            /* Lightest shade for text */
    font-size: 150%;
    background-color: #283618; /* Dark green for primary button background */
    border-color: #BC6C25;     /* Reddish-brown for border to use as accent */
    border-width: thick;
}

body {
    background-color: #FEFAE0; /* Lightest shade for body background to follow the 60% rule */
}
.navbar-brand{
    font-family: 'Roboto', cursive; /*change the font name for what you have*/
    font-size: 2.25rem;
}
.card-body .form-group .dropdown{
    text-align: center;
}